body
{
    font-family: Arial, Helvetica, sans-serif;
    background-color:greenyellow;
}

input
{
    padding: 15px;
    border: none;
    margin-top: 3%;
}

h1
{
    margin-top: 1px;
    margin-bottom: 1%;
    color: white;
}

.fundo
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
    border-radius: 8%;
}

.conteudo
{
    background-color: rgba(0, 0, 0, 0.836);
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 10%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius: 8%;
    color: white;
    text-align: center;
    width: 300px;
}

.Registar
{
    color: #000000;   
    background-color:greenyellow;
    text-decoration: none;
    margin-top: 20%;    
    margin-bottom: 15%;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 45px;
    padding-right: 45px;
    margin: 10%;    
    cursor: pointer;
    font-size: 16px;
}

.Registar:hover
{
    background-color: #5ac75a;
}

.cvv
{
    padding: 15px;
    border: none;
    margin: 1%;
    width: 12%;
}

.data_validade
{
    margin-left: 1%;
    width: 34%;
}

.voltar
{
    background-color: #000000;
    border-radius: 35%;
    border: none;
    color:greenyellow;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}