/*a
{
    background-color: #000000;
    border-radius: 35%;
    border: none;
    color:greenyellow;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

code {
  background: #2db34a;
  border-radius: 6px;
  color: #fff;
  display: block;
  font: 14px/24px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
  padding: 24px 15px;
  text-align: center;
}*/

p.one{
  border-style: solid;
  border-width: 5cm;
}

.button { 
    background-color: greenyellow; 
    border: none; 
    color: black; 
    padding: 15px 25px; 
    border-radius: 15px;
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 20px; 
    cursor: pointer; 
    margin: auto;
}
